<div class="container pt-5">

    <div class="card col-12 col-md-8 col-lg-8 mx-auto" class="mb-5">
        <div class="card-header bg-white">
            <h1 class="text-center">Sign Up</h1>
            <h1 class="text-center">As</h1>
        </div>
    </div>

    <div class="card-header bg-white" class="text-center">
        <button mat-flat-button [color]="this.colorStudent" class="mesBouttons" (click)="isStudentClicked()">
            CLIENT
        </button>
        <button mat-flat-button [color]="this.colorEmployer" class="mesBouttons" (click)="isEmployerClicked()">
            EMPLOYER
        </button>
    </div>

 
    <div class="card-body" *ngIf="isStudent || isEmployer">
        <form [formGroup]="signupForm" (ngSubmit)="onSubmitForm()">

            <mat-form-field class="form-field" appearance="outline">

                <mat-label> 
                    First Name
                </mat-label>
                <input matInput formControlName="firstName" required>
                <mat-error *ngIf="getF().firstName.hasError('required') && isSubmitted">
                    First Name is Mandatory !
                </mat-error>
            </mat-form-field>


            <mat-form-field class="form-field" appearance="outline">

                <mat-label> 
                    Last Name
                </mat-label>
                <input matInput formControlName="lastName" required>
                <mat-error *ngIf="getF().lastName.hasError('required') && isSubmitted" >
                    Last Name is Mandatory !
                </mat-error>
            </mat-form-field>

            <mat-form-field class="form-field" appearance="outline">

                <mat-label> 
                    Email Address
                </mat-label>
                <input matInput formControlName="email" required>
                  
                    <mat-error *ngIf="getF().email.invalid && isSubmitted">
                        Email is invalid !
                    </mat-error>

            </mat-form-field>
            <mat-error *ngIf="emailAlreadyExist" >
                Email Already registred !
            </mat-error>

       


            <mat-form-field class="form-field" appearance="outline">

                <mat-label> 
                    Password
                </mat-label>
                <input matInput formControlName="password" type="password" required>
                <mat-error *ngIf="getF().password.hasError && isSubmitted" class="text-danger">
                    <mat-error *ngIf="getF().password.hasError('required')">
                            Password is manadatory
                    </mat-error>
                    <mat-error *ngIf="getF().password.hasError('minlength') || getF().password.hasError('maxlength')">
                        Password must be between 6 and 18 characters.
                    </mat-error>
                </mat-error>
            </mat-form-field>


            <mat-form-field class="form-field" appearance="outline">
                <mat-label> 
                    Confirm Password
                </mat-label>
                <input matInput formControlName="confirmPass" type="password" required>
                <mat-error *ngIf="getF().confirmPass.hasError('mustMatch') && isSubmitted" >
                    Password and Confirm Password must be match !
                </mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" type="submit">Submit</button>
        </form>

    </div>

</div>
