<div class="container pt-5">

    <div class="card col-12 col-md-8 col-lg-8 mx-auto">
        <div class="card-header bg-white">
            <h1 class="text-center">Login</h1>
        </div>

        <div class="card-body">
            <form [formGroup]="loginForm" (submit)="onSubmitForm()">
                <mat-form-field class="form-field" appearance="outline">
                  <mat-label> E-mail
                  </mat-label>
                  <input matInput formControlName="email" required>
                </mat-form-field>
                <mat-form-field class="form-field" appearance="outline">
                  <mat-label> Password
                  </mat-label>
                  <input matInput formControlName="password" type="password">
                </mat-form-field>
                <p *ngIf="!authenticated" class="text-danger">
                    Email or password is invalid !
                </p>
                <button mat-raised-button color="primary" type="submit" [disabled]="!loginForm.valid" >Log In</button>
              </form>
        </div>
    </div>

</div>

